# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
alembic
bleach
email_validator
flask-wtf
flask
flask-babel
flask-oidc
mock==1.1.2
python-dateutil #<= 1.5
python-fedora>=0.3.33
pytz>=2013b
sqlalchemy
vobject
wtforms
Markdown
docutils
psutil
blinker # Required by flask >= 0.10 for the unit-tests
funcsigs  # Required by mock but somehow missed
flask_multistatic
flask_oidc
fedora-messaging
email_validator
fedocal-messages>=1.5.0
