# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
alembic
flask-wtf
flask<0.10
kitchen
python-dateutil <= 1.5
python-fedora
pytz>=2013b
sqlalchemy
vobject
wtforms
Markdown
docutils
