@import url("cloud.css");
@import url("http://fonts.googleapis.com/css?family=Comfortaa");

.fedocal-logo span {
    background: url("fedocal.png") no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    display: block;
    width: 134px;
    height: 44px;
    margin-bottom:1px;
  }

h1.fedocal-logo {
    font-family: 'Comfortaa', sans-serif;
    margin-top: -10px;
    margin-bottom: 12px;
}
