{% extends "master.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Add meeting{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
<section>
    <header>
        <h2>New meeting</h2>
        <p>Please enter your meeting details in the above form.</p>
    </header>

    <form action="" method="post">
        <table>
            {{ render_field_in_row(form.meeting_name) }}
            {{ render_field_in_row(form.meeting_date) }}
            {{ render_field_in_row(form.meeting_date_end) }}
            {{ render_field_in_row(form.meeting_time_start, after="%s time" % tzone) }}
            {{ render_field_in_row(form.meeting_time_stop, after="%s time" % tzone) }}
            {{ render_field_in_row(form.full_day) }}
            {{ render_field_in_row(
                    form.meeting_timezone,
                    after="<input type='button' class='event check'
                        value='Check date availability'><span id='res'></span>",
                    escape_after=True) }}
            {{ render_field_in_row(
                    form.information,
                    after="Supports the <a href='http://daringfireball.net/projects/markdown/syntax'
                    target='_blank'>Markdown syntax</a>
                    <input type='button' class='event preview' value='Preview'>",
                    escape_after=True) }}
            {{ render_field_in_row(form.meeting_location) }}
        </table>

        <h4>Recursive event</h4>
        <p>If this is a regular meeting this is where you want to set it as so.</p>
        <table>
            {{ render_field_in_row(form.frequency) }}
            {{ render_field_in_row(form.end_repeats, after='Leave empty if there is no end date for the repeat.') }}
        </table>

        <h4>Reminder</h4>
        <p>You may want fedocal to send an email to a mailing list of your choices.</p>
        <p>Note that fedocal will send the reminder in your name.</p>
        <table>
            {{ render_field_in_row(form.remind_when) }}
            {{ render_field_in_row(form.remind_who) }}
        </table>

        <p class="buttons indent">
            <input type="submit" class="submit positive button" value="Add">
            <input type="button" value="Cancel" class="button" onclick="history.back();">
            {{ form.csrf_token }}
        </p>
    </form>
</section>
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static',
        filename='globalize.js') }}">
</script>
<script type="text/javascript"
    src="{{ url_for('static',
        filename='jquery-ui-timespinner.js') }}">
</script>
<script type="text/javascript">
    $(function(){
        $('#meeting_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#meeting_date_end').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#end_repeats').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#meeting_time_start,#meeting_time_stop').val('8:00').timespinner();
    });
</script>
<script type="text/javascript">
    $(function(){
        $('.preview').click(function(){
            var _txt = $('textarea#information').val();
            var _url = "{{ url_for('markdown_preview') }}";
            $.ajax({
                url: _url ,
                type: 'POST',
                data: {content: _txt},
                dataType: 'html',
                success: function(res) {
                    var _elt = $('<div title="Preview">' + res + '</div>');
                    _elt.dialog({
                        height: 350,
                        width: '50%',
                        modal: true
                    });
                },
                error: function() {
                    alert('Unable to generate preview!');
                }
            });
            return false;
        });

        $('.check').click(function(){
            $('span#res').html();
            var _cal = "{{ calendar.calendar_name }}";
            var _sdate = $('input#meeting_date').val();
            var _edate = $('input#meeting_date_end').val();
            var _stime = $('input#meeting_time_start').val();
            var _etime = $('input#meeting_time_stop').val();
            var _recf = $('input#frequency').val();
            var _rece = $('input#end_repeats').val();
            var _tz = $('input#meeting_timezone').val();

            var _url = "{{ url_for('check_date') }}";
            $.ajax({
                url: _url ,
                type: 'POST',
                data: {
                    calendar: _cal,
                    meeting_date: _sdate,
                    meeting_date_end: _edate,
                    time_start: _stime,
                    time_stop: _etime,
                    timezone: _tz,
                    recursion_frequency: _recf,
                    recursion_ends: _rece,
                },
                dataType: 'json',
                success: function(res) {
                    if (res['Date available']) {
                        $('span#res').html(
                            '<img src="{{ url_for("static", filename="Approved.png") }}"'
                            + ' title="Time slot available" />');
                    } else {
                        $('span#res').html(
                            '<img src="{{ url_for("static", filename="Denied.png") }}"'
                            + ' title="Time slot not available" />');
                    }
                },
                error: function(res) {
                    res = JSON.parse(res.responseText);
                    alert(res['error']);
                }
            });
            return false;
        });
    });
</script>
{% endblock %}
