{% extends "master.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Add meeting{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
<section>
    <header>
        <h2>New meeting</h2>
        <p>Please enter your meeting details in the above form.</p>
    </header>

    <form action="" method="post">
        <table>
            {{ render_field_in_row(form.meeting_name) }}
            {{ render_field_in_row(form.meeting_date) }}
            {{ render_field_in_row(form.meeting_date_end) }}
            {{ render_field_in_row(form.meeting_time_start)}}
            {{ render_field_in_row(form.meeting_time_stop)}}
            {{ render_field_in_row(form.full_day) }}
            {{ render_field_in_row(form.meeting_timezone) }}
            {{ render_field_in_row(
                    form.information,
                    after="Supports the <a href='http://daringfireball.net/projects/markdown/syntax'
                    target='_blank'>Markdown syntax</a>
                    <input type='button' class='event preview' value='Preview'>",
                    escape_after=True) }}
            {{ render_field_in_row(form.wiki_link) }}
            {{ render_field_in_row(form.meeting_location) }}
        </table>

        <h4>Recursive event</h4>
        <p>If this is a regular meeting this is where you want to set it as so.</p>
        <table>
            {{ render_field_in_row(form.frequency) }}
            {{ render_field_in_row(form.end_repeats, after='Leave empty if there is no end date for the repeat.') }}
        </table>

        <h4>Reminder</h4>
        <p>You may want fedocal to send an email to a mailing list of your choices.</p>
        <p>Note that fedocal will send the reminder in your name.</p>
        <table>
            {{ render_field_in_row(form.remind_when) }}
            {{ render_field_in_row(form.reminder_from) }}
            {{ render_field_in_row(form.remind_who) }}
        </table>

        <p class="buttons indent">
            <input type="submit" class="submit positive button" value="Add">
            <input type="button" value="Cancel" class="button" onclick="history.back();">
            {{ form.csrf_token }}
        </p>
    </form>
</section>
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static',
        filename='globalize.js') }}">
</script>
<script type="text/javascript"
    src="{{ url_for('static',
        filename='jquery-ui-timespinner.js') }}">
</script>
<script type="text/javascript">
    $(function(){
        $('#meeting_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#meeting_date_end').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#end_repeats').datepicker({
            dateFormat: "yy-mm-dd",
        });
        {% if request.method == 'GET' %}
        $('#meeting_time_start').val('8:00').timespinner();
        $('#meeting_time_stop').val('9:00').timespinner();
        {% else %}
        $('#meeting_time_start').val('{{
            form.meeting_time_start.data | format_time_spinner
            }}').timespinner();
        $('#meeting_time_stop').val('{{
            form.meeting_time_stop.data | format_time_spinner
            }}').timespinner();
        {% endif %}
    });
</script>
<script type="text/javascript">
    $(function(){
        $('.preview').click(function(){
            var _txt = $('textarea#information').val();
            var _url = "{{ url_for('markdown_preview') }}";
            $.ajax({
                url: _url ,
                type: 'POST',
                data: {content: _txt},
                dataType: 'html',
                success: function(res) {
                    var _elt = $('<div title="Preview">' + res + '</div>');
                    var _height = $(window).height() * 0.8;
                    _elt.dialog({
                        height: _height,
                        width: '50%',
                        modal: true
                    });
                },
                error: function() {
                    alert('Unable to generate preview!');
                }
            });
            return false;
        });
    });
</script>
<script type="text/javascript">
  $(function() {
    $('#meeting_location').autocomplete({
        source: function( request, response ) {
            $.getJSON(
              "{{ url_for('api_locations_search') }}", {
                keyword: request.term
              },
              function( data ) {
                response( data.locations );
              }
            );
        },
        minLength: 3,
        delay: 500,
    });
  });
</script>
<script type="text/javascript">
   $(document).ready(function() {
        var cb = $('#full_day');
        var _timestt = $('#meeting_time_start');
        var _timestp = $('#meeting_time_stop');
        if(cb.prop('checked')) {
            _timestt.addClass('ui-state-disabled');
            _timestp.addClass('ui-state-disabled');
        };
   });
   $(document).ready(function() {
     $('#full_day').click(function() {
        var _timestt = $('#meeting_time_start');
        var _timestp = $('#meeting_time_stop');
        if(this.checked == false) {
            _timestt.removeClass('ui-state-disabled');
            _timestp.removeClass('ui-state-disabled');
        } else {
            _timestt.addClass('ui-state-disabled');
            _timestp.addClass('ui-state-disabled');
        };
     });
 });
</script>
<script type="text/javascript">
    function getHourAndMinute(value) {
        var hour = value.split(":");
        var minute = hour[1].split(" ");
        return { hour: hour[0], minute: minute[0] };
    }

   $(document).ready(function() {
      var previous;
      $('#meeting_time_start').focus(
        function () {
            // Store the current value on focus and on change
            previous = +Globalize.parseDate(this.value);
        }).timespinner({
        spin: function(event, ui) {
            var _timestt = $('#meeting_time_start');
            var _timestp = $('#meeting_time_stop');
            var _cur_stt = +Globalize.parseDate( _timestt.val());
            var _cur_stp = +Globalize.parseDate( _timestp.val());
            var _delta = _cur_stp - _cur_stt;
            previous = ui.value;
            _timestp.val(ui.value + _delta).timespinner();
        },
        change: function() {
            var _timestt = $('#meeting_time_start');
            var _timestp = $('#meeting_time_stop');
            var _cur_stt = +Globalize.parseDate( _timestt.val());
            var _cur_stp = +Globalize.parseDate( _timestp.val());
            var _delta = _cur_stp - previous;
            _timestp.val( _cur_stt + _delta).timespinner();
        }
      });
 });
</script>
<script type="text/javascript">
   $(document).ready(function() {
     $('#meeting_date').change(function(){
        var _datestt = $('#meeting_date').val();
        $('#meeting_date_end').val(_datestt);
    });
 });
</script>
{% endblock %}
