{% extends "master.html" %}

{% block title %}{% if calendar %}{{ calendar.calendar_name }}{%
else %}{{ location }}{% endif %}{% endblock %}

{%block tag %}{% if calendar %}home{% else %}locations{% endif %}{% endblock %}

{% block content %}
<section>

      <header>
          <h2>
              {% if calendar %}
              <a href="{{url_for('calendar',
                  calendar_name=calendar.calendar_name)}}">
              {{ calendar.calendar_name }}
              {% else %}
              <a href="{{url_for('location',
                  loc_name=location) }}">
              {{ location }}
              {% endif %}
              </a>
          </h2>
          {% if calendar %}
          <p>{{ calendar.calendar_description or '-' }}</p>
          {% else %}
          <p> - </p>
          {% endif %}
      </header>
      <nav id="weeks">
          {% if calendar %}
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name, year=prev_week.year,
              month=prev_week.month, day=prev_week.day)}}" class="button"
              title="Previous week">
              &lt;
          </a>
          {{ weekdays | WeekHeading }}
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name, year=next_week.year,
              month=next_week.month, day=next_week.day)}}" class="button"
              title="Next week">
              &gt;
          </a>
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name)}}" class="button">
              <img src="{{url_for('static', filename='home.png')}}"
                alt="today" title="Today" />
          </a>
          {% else %}
          <a href="{{url_for('location',
              loc_name=location, year=prev_week.year,
              month=prev_week.month, day=prev_week.day)}}" class="button"
              title="Previous week">
              &lt;
          </a>
          {{ weekdays | WeekHeading }}
          <a href="{{url_for('location',
              loc_name=location, year=next_week.year,
              month=next_week.month, day=next_week.day)}}" class="button"
              title="Next week">
              &gt;
          </a>
          <a href="{{url_for('location', loc_name=location,)}}"
            class="button" title="Today">
              <img src="{{url_for('static', filename='home.png')}}"
                alt="today" />
          </a>
          {% endif %}
      </nav>
    <aside id="mainmenu">
        {% autoescape off%}{{ curmonth_cal }}{% endautoescape %}
        <form action="{{url_for('goto')}}" id="goto_date">
          {% if calendar %}
          <input type="hidden" name="calendar" value="{{calendar.calendar_name}}"/>
          {% else %}
          <input type="hidden" name="location" value="{{location}}"/>
          {% endif %}
          <input type="text" name="day" placeholder="28" title="Day in decimal"/>
          <input type="text" name="month" placeholder="02" title="Month in decimal"/>
          <input type="text" name="year" placeholder="2014" title="Year in decimal"/>
          <input type="submit" value="Go"/>
        </form>
        <form action="{{ url_for('update_tz') }}" id="update_tz">
            <select name="tzone", id="tzones">
                {% for tz in tzones %}
                {% if tz == tzone %}<option value="{{tz}}" selected>{{ tz }}</option>
                {% else %}<option value="{{tz}}">{{ tz }}</option>{% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Go"/>
        </form>

        <div id="accordion">
        <h4>Calendars</h4>
        <ul id="calendars_menu" class="checkmark-list">
            {% for calendar in calendars %}
            {% if calendar.calendar_status == 'Enabled' %}
            <li>
                <a href="{{url_for('calendar',
                    calendar_name=calendar.calendar_name)}}">
                    {{ calendar.calendar_name }}
                </a>
                <ul>
                    {% if g.fas_user %}
                    <li>
                        <a href="{{ url_for('add_meeting',
                            calendar_name=calendar.calendar_name) }}">Add a meeting</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('calendar_list',
                            calendar_name=calendar.calendar_name) }}">
                            List view
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('ical_out',
                                           calendar_name=calendar.calendar_name)}}"
                            title="Add this calendar to your agenda">iCal export</a>
                    </li>
                    <li>
                        <a onclick="CopyToClipboard('{{url_for('ical_out',
                                           calendar_name=calendar.calendar_name)}}')"
                            title="Copy the iCal feed URL">Copy iCal link</a>
                    </li>
                    {% if calendar.calendar_contact %}
                    <li>
                        <a href="mailto:{{calendar.calendar_contact}}">
                            Contact admin
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        {% if calendar and (admin or calendar_admin)  %}
        <h4> Admin </h4>
        <div>
        <ul class="checkmark-list">
            {% if admin %}
            <li>
                <a href="{{ url_for('edit_calendar',
                    calendar_name=calendar.calendar_name) }}"> Edit calendar </a>
            </li>
            <li>
                <a href="{{ url_for('delete_calendar',
                    calendar_name=calendar.calendar_name) }}"> Delete calendar </a>
            </li>
            {% endif %}
            {% if calendar_admin %}
            <li>
                <a href="{{ url_for('clear_calendar',
                    calendar_name=calendar.calendar_name) }}"> Clear calendar </a>
            </li>
            <li>
                <a href="{{ url_for('upload_calendar',
                    calendar_name=calendar.calendar_name) }}"> Upload iCalendar </a>
            </li>
            {% endif %}
        </ul>
        </div>
        {% endif %}

        </ul>
      </div>
      {% if calendar %}
      <ul class="checkmark-list">
        {% if calendar.calendar_admin_group %}
        <li>Administrators: {{ calendar.calendar_admin_group }}</li>
        {% endif %}
        {% if calendar.calendar_editor_group %}
        <li>Editors: {{ calendar.calendar_editor_group }}</li>
        {% else %}
        <li>Editors: CLA+1</li>
        {% endif %}
      </ul>
      {% endif %}

    </aside>
    <div id='agenda'>
    {% macro render_meetings(meeting_list, loopidx, prev_meetings, next_meetings) -%}
      {% if loopidx == day_index %}
          <td class="today">
      {% else %}
          <td>
      {% endif %}

      {% if meeting_list %}
          {% for meeting in meeting_list %}
              {% set first_meeting = [] %}
              {% set last_meeting = [] %}

              {% if prev_meetings and prev_meetings[loopidx - 1] %}
                  {% for prev_meeting in prev_meetings[loopidx - 1] %}
                      {% if prev_meeting.meeting_name == meeting.meeting_name %}
                          <!--{{ first_meeting.append(False) }}-->
                      {% endif %}
                  {% endfor %}
              {% endif %}
              {% if next_meetings and next_meetings[loopidx - 1] %}
                  {% for next_meeting in next_meetings[loopidx - 1] %}
                      {% if next_meeting.meeting_name == meeting.meeting_name %}
                          <!--{{ last_meeting.append(False) }}-->
                      {% endif %}
                  {% endfor %}
              {% endif %}

              {% if not first_meeting and last_meeting%}
              <a class="event first_event meeting_{{ meeting.meeting_id }}"
                  href="{{ url_for('view_meeting',
                      meeting_id=meeting.meeting_id) }}">
                  {{ meeting.meeting_name }}
              </a>
              {% elif first_meeting and last_meeting %}
              <a class="event middle_event meeting_{{ meeting.meeting_id }}"
                  href="{{ url_for('view_meeting',
                      meeting_id=meeting.meeting_id) }}"/>
              {% elif first_meeting and not last_meeting %}
              <a class="event last_event meeting_{{ meeting.meeting_id }}"
                  href="{{ url_for('view_meeting',
                      meeting_id=meeting.meeting_id) }}"/>
              {% else %}
              <a class="event meeting_{{ meeting.meeting_id }}"
                  href="{{ url_for('view_meeting',
                      meeting_id=meeting.meeting_id) }}">
                  {{ meeting.meeting_name }}
              </a>
              {% endif %}
              {% if not loop.last %}
              -
              {% endif %}
          {% endfor %}
      {% endif %}
      </td>
    {%- endmacro %}
      <table>
          <tr>
              <th>{{ tzone }} time</th>
              {% for day in weekdays %}
              <th> {{ day.strftime('%A %d') }}</th>
              {% endfor %}
          </tr>
          <tr id="full_day">
              <th></th>
              {% for meetings in full_day_meetings %}
                <td>
                    {% for meeting in meetings %}
                    <a class="event meeting_{{ meeting.meeting_id }}"
                        href="{{ url_for('view_meeting',
                            meeting_id=meeting.meeting_id) }}">
                        {{ meeting.meeting_name[:22] }}
                        {% if meeting.meeting_name |length > 22 %}...{% endif %}
                    </a>
                    {% endfor %}
                </td>
              {% endfor %}
          </tr>
          <tr></tr>
          <tr>
              <th class="time" rowspan="2">00h00</th>
              <td colspan="7" class="empty"></td>
          </tr>
          {% set keys = meetings.keys()|sort %}

          {% for cnt in range(1, 48) %}
          <tr>
              {% if cnt > 1 and keys[cnt].endswith('00') %}
                  <th rowspan="2" class="time">{{ keys[(cnt)] }}</th>
              {% endif %}

              {% for meeting_list in meetings[keys[cnt - 1]] %}
                  {% if cnt == 1 %}
                  {{ render_meetings(meeting_list,
                                     loop.index,
                                     [],
                                     meetings[keys[cnt]]) }}
                  {% else %}
                  {{ render_meetings(meeting_list,
                                     loop.index,
                                     meetings[keys[cnt - 2]],
                                     meetings[keys[cnt]]) }}
                  {% endif %}
              {% endfor %}
          </tr>
          {% endfor %}
          <tr>
              <th rowspan="2" class="time">00h00</th>
              {% if meetings %}
              {% for meeting_list in meetings['23h30'] %}
                  {{ render_meetings(meeting_list,
                                     loop.index,
                                     meetings['23h00'],
                                     None) }}
              {% endfor %}
              {% endif %}
          </tr>
          <tr>
              <td colspan="7" class="empty"></td>
          </tr>
      </table>
    </div>
  </section>
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){
        $('.event').click(function(){
            var _cls = $(this).attr('class');
            var _meetId = _cls.split('meeting_')[1];
            var _url = "{{ url_for('view_meeting', meeting_id=0) }}".replace('/0/','/');
            $.ajax({
                url: _url + _meetId + '/0/',
                type: 'GET',
                dataType: 'html',
                success: function(res) {
                    var _elt = $('<div title="Meeting details" id="show_meeting">' + res + '</div>');
                    var _height = $(window).height() * 0.8;
                    _elt.dialog({
                        height: _height,
                        width: '50%',
                        modal: true
                    });
                },
                error: function() {
                    alert('Unable to retrieve selected meeting!');
                }
            });

            return false;
        });
    });
</script>
{% endblock %}
