{% extends "master.html" %}

{% block title %}{% if calendar %}{{ calendar.calendar_name }}{%
else %}{{ location }}{% endif %}{% endblock %}

{%block tag %}{% if calendar %}home{% else %}locations{% endif %}{% endblock %}

{% block content %}
<section>

      <header>
          <h2>
              {% if calendar %}
              <a href="{{url_for('calendar',
                  calendar_name=calendar.calendar_name)}}">
              {{ calendar.calendar_name }}
              {% else %}
              <a href="{{url_for('location',
                  loc_name=location) }}">
              {{ location }}
              {% endif %}
              </a>
          </h2>
          {% if calendar %}
          <p>{{ calendar.calendar_description or '-' }}</p>
          {% else %}
          <p> - </p>
          {% endif %}
      </header>
      <nav id="weeks">
          {% if calendar %}
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name, year=prev_week.year,
              month=prev_week.month, day=prev_week.day)}}" class="button"
              title="{{ _('Previous week') }}">
              &lt;
          </a>
          {{ weekdays | WeekHeading }}
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name, year=next_week.year,
              month=next_week.month, day=next_week.day)}}" class="button"
              title="{{ _('Next week') }}">
              &gt;
          </a>
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name)}}" class="button" id="home_btn" title="{{ _('Today') }}">
              {{ _('Today') }}
          </a>
          {% else %}
          <a href="{{url_for('location',
              loc_name=location, year=prev_week.year,
              month=prev_week.month, day=prev_week.day)}}" class="button"
              title="{{ _('Previous week') }}">
              &lt;
          </a>
          {{ weekdays | WeekHeading }}
          <a href="{{url_for('location',
              loc_name=location, year=next_week.year,
              month=next_week.month, day=next_week.day)}}" class="button"
              title="{{ _('Next week') }}">
              &gt;
          </a>
          <a href="{{url_for('location', loc_name=location,)}}"
              class="button" title="{{ _('Today') }}" id="home_btn">
            {{ _('Today') }}
          </a>
          {% endif %}
      </nav>
    <aside id="mainmenu">
        {% autoescape off%}{{ curmonth_cal }}{% endautoescape %}
        <form action="{{url_for('goto')}}" id="goto_date">
          {% if calendar %}
          <input type="hidden" name="calendar" value="{{calendar.calendar_name}}"/>
          {% else %}
          <input type="hidden" name="location" value="{{location}}"/>
          {% endif %}
          <input type="text" name="day" placeholder="28" title="{{ _('Day in decimal') }}"/>
          <input type="text" name="month" placeholder="02" title="{{ _('Month in decimal') }}"/>
          <input type="text" name="year" placeholder="2014" title="{{ _('Year in decimal') }}"/>
          <input type="submit" value="{{ _('Go') }}"/>
        </form>
        <form action="{{ url_for('update_tz') }}" id="update_tz">
            <select name="tzone" id="tzones">
                {% for tz in tzones %}
                {% if tz == tzone %}<option value="{{tz}}" selected>{{ tz }}</option>
                {% else %}<option value="{{tz}}">{{ tz }}</option>{% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Go"/>
        </form>

        {% if not calendar %}
        <p>
          <a href="{{ url_for('location_list',loc_name=location) }}">
              {{ _('List view') }}
          </a>
        </p>
        {% endif %}

        <div id="accordion">
        <h4>{{ _('Calendars') }}</h4>
        <ul id="calendars_menu" class="checkmark-list">
            {% for _calendar in calendars %}
            {% if _calendar.calendar_status == 'Enabled' %}
            <li {% if calendar and _calendar.calendar_name == calendar.calendar_name%}
            class="menu-focus"
            {% endif %}>
                <a href="{{url_for('calendar',
                    calendar_name=_calendar.calendar_name)}}">
                    {{ _calendar.calendar_name }}
                </a>
                <ul>
                    {% if g.fas_user %}
                    <li>
                        <a href="{{ url_for('add_meeting',
                            calendar_name=_calendar.calendar_name) }}">{{ _('Add a meeting') }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('calendar_list',
                            calendar_name=_calendar.calendar_name) }}">
                            {{ _('List view') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('ical_out',
                                           calendar_name=_calendar.calendar_name)}}"
                            title="{{ _('Add this calendar to your agenda') }}">{{ _('iCal export') }}</a>
                    </li>
                    <li>
                        <a onclick="CopyToClipboard('{{url_for('ical_out',
                                           calendar_name=_calendar.calendar_name)}}')"
                            title="{{ _('Copy the iCal feed URL') }}">{{ _('Copy iCal link') }}</a>
                    </li>
                    {% if _calendar.calendar_contact %}
                    <li>
                        <a href="mailto:{{_calendar.calendar_contact}}">
                            {{ _('Contact admin') }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        {% if calendar and (admin or calendar_admin)  %}
        <h4>{{ _('Admin') }}</h4>
        <div>
        <ul class="checkmark-list">
            {% if admin %}
            <li>
                <a href="{{ url_for('edit_calendar',
                    calendar_name=calendar.calendar_name) }}">{{ _('Edit calendar') }}</a>
            </li>
            <li>
                <a href="{{ url_for('delete_calendar',
                    calendar_name=calendar.calendar_name) }}">{{ _('Delete calendar') }}</a>
            </li>
            {% endif %}
            {% if calendar_admin %}
            <li>
                <a href="{{ url_for('clear_calendar',
                    calendar_name=calendar.calendar_name) }}">{{ _('Clear calendar') }}</a>
            </li>
            <li>
                <a href="{{ url_for('upload_calendar',
                    calendar_name=calendar.calendar_name) }}">{{ _('Upload iCalendar') }}</a>
            </li>
            {% endif %}
        </ul>
        </div>
        {% endif %}
      </div>
      {% if calendar %}
      <ul class="checkmark-list">
        {% if calendar.calendar_admin_group %}
        <li>{{ _('Administrators:') }} {{ calendar.calendar_admin_group }}</li>
        {% endif %}
        {% if calendar.calendar_editor_group %}
        <li>{{ _('Editors:') }} {{ calendar.calendar_editor_group }}</li>
        {% else %}
        <li>{{ _('Editors: CLA+1') }}</li>
        {% endif %}
      </ul>
      {% endif %}

    </aside>
    <div id='agenda'>
    {% macro render_meetings(meeting_list, loopidx, prev_meetings, next_meetings) -%}
      {% if loopidx == day_index %}
          <td class="today">
      {% else %}
          <td>
      {% endif %}

      {% if meeting_list %}
          {% for meeting in meeting_list %}
              {% if loop.first %}
              {% set day_index = 0 %}
              {% else %}
              {% set day_index = day_index + 1 %}
              {% endif %}

              {% set first_meeting = [] %}
              {% set last_meeting = [] %}

              {% if prev_meetings and prev_meetings[loopidx - 1] %}
                  {% for prev_meeting in prev_meetings[loopidx - 1] %}
                      {% if prev_meeting.meeting_name == meeting.meeting_name %}
                          <!--{{ first_meeting.append(False) }}-->
                      {% endif %}
                  {% endfor %}
              {% endif %}
              {% if next_meetings and next_meetings[loopidx - 1] %}
                  {% for next_meeting in next_meetings[loopidx - 1] %}
                      {% if next_meeting.meeting_name == meeting.meeting_name %}
                          <!--{{ last_meeting.append(False) }}-->
                      {% endif %}
                  {% endfor %}
              {% endif %}

              {% if not first_meeting and last_meeting%}
              <a class="event_blue first_event meeting_{{ meeting.meeting_id }}"
                  href="{{ url_for('view_meeting',
                      meeting_id=meeting.meeting_id) }}?from_date={{weekdays[day_index].strftime('%Y-%m-%d')}}">
                  {{ meeting.meeting_name }}
              {% elif first_meeting and last_meeting %}
              <a class="event_blue middle_event meeting_{{ meeting.meeting_id }}"
                  href="{{ url_for('view_meeting',
                      meeting_id=meeting.meeting_id) }}?from_date={{weekdays[day_index].strftime('%Y-%m-%d')}}">
              {% elif first_meeting and not last_meeting %}
              <a class="event_blue last_event meeting_{{ meeting.meeting_id }}"
                  href="{{ url_for('view_meeting',
                      meeting_id=meeting.meeting_id) }}?from_date={{weekdays[day_index].strftime('%Y-%m-%d')}}">
              {% else %}
              <a class="event_blue meeting_{{ meeting.meeting_id }}"
                  href="{{ url_for('view_meeting',
                      meeting_id=meeting.meeting_id) }}?from_date={{weekdays[day_index].strftime('%Y-%m-%d')}}">
                  {{ meeting.meeting_name }}
              {% endif %}
              {% if not loop.last %}
              -
              {% endif %}
              </a>
          {% endfor %}
      {% else %}
          <div class="row_height"></div>
      {% endif %}
      </td>
    {%- endmacro %}
      <table>
          <tr>
              <th>{{ _('%%(timezone)s time', timezone=tzone) }}</th>
              {% for day in weekdays %}
              <th>{{ day|HeaderDate }}</th>
              {% endfor %}
          </tr>
          <tr id="full_day">
              <th>
                  <div class="row_height"></div>
              </th>
              {% for meetings in full_day_meetings %}
                {% if loop.first %}
                {% set day_index = 0 %}
                {% else %}
                {% set day_index = day_index + 1 %}
                {% endif %}
                <td>
                    {% for meeting in meetings %}
                    <a class="event_blue meeting_{{ meeting.meeting_id }}"
                        href="{{ url_for('view_meeting',
                            meeting_id=meeting.meeting_id) }}?from_date={{weekdays[day_index].strftime('%Y-%m-%d')}}">
                        {{ meeting.meeting_name[:22] }}
                        {% if meeting.meeting_name |length > 22 %}...{% endif %}
                    </a>
                    {% endfor %}
                </td>
              {% endfor %}
          </tr>
          <tr>
              <th class="time" rowspan="2">00h00</th>
              <td colspan="7" class="empty">
                  <div class="row_height"></div>
              </td>
          </tr>
          {% set keys = meetings.keys()|sort %}

          {% for cnt in range(1, 48) %}
          <tr>
              {% if cnt > 1 and keys[cnt].endswith('00') %}
                  <th rowspan="2" class="time">{{ keys[(cnt)] }}</th>
              {% endif %}

              {% for meeting_list in meetings[keys[cnt - 1]] %}
                  {% if cnt == 1 %}
                  {{ render_meetings(meeting_list,
                                     loop.index,
                                     [],
                                     meetings[keys[cnt]]) }}
                  {% else %}
                  {{ render_meetings(meeting_list,
                                     loop.index,
                                     meetings[keys[cnt - 2]],
                                     meetings[keys[cnt]]) }}
                  {% endif %}
              {% endfor %}
          </tr>
          {% endfor %}
          <tr>
              <th rowspan="2" class="time">00h00</th>
              {% if meetings %}
              {% for meeting_list in meetings['23h30'] %}
                  {{ render_meetings(meeting_list,
                                     loop.index,
                                     meetings['23h00'],
                                     None) }}
              {% endfor %}
              {% endif %}
          </tr>
          <tr>
              <td colspan="7" class="empty"></td>
          </tr>
      </table>
    </div>
  </section>
{% endblock %}

{% block sidebar %}
{% if calendar %}
  <aside id="shortmenu">
    <ul>
      <li>
        <a href="{{ url_for('add_meeting',
                            calendar_name=calendar.calendar_name) }}">
            <img src="{{ url_for('static', filename='plus.png') }}" title="{{ _('Add meeting') }}" alt="{{ _('Add meeting') }}" />
        </a>
      </li>
      <li>
        <a href="{{ url_for('calendar_list',
                            calendar_name=calendar.calendar_name) }}">
            <img src="{{ url_for('static', filename='list.png') }}" title="{{ _('List view') }}" alt="{{ _('List view') }}" />
        </a>
      </li>
      <li>
        <a href="{{url_for('ical_out',
                           calendar_name=calendar.calendar_name)}}">
            <img src="{{ url_for('static', filename='ical.png') }}" title="{{ _('iCal Export') }}" alt="{{ _('iCal export') }}" />
        </a>
      </li>
    </ul>
  </aside>
{% endif %}
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static',
        filename='notify.min.js') }}">
</script>

<script type="text/javascript">
    function below(elm) {
        var vpH = $(window).height(), // Viewport Height
            st = $(window).scrollTop(), // Scroll Top
            y = $(elm).offset().top;
        return (y > (vpH + st));
    };

    function above(elm) {
        var vpH = $(window).height(), // Viewport Height
            st = $(window).scrollTop(), // Scroll Top
            y = $(elm).offset().top;
        return (y < st);
    };

    $(function(){
        var above_bool = false;
        var below_bool = false;
        $(".event_blue").each(function() {
            var el = $(this);
            if (above_bool && below_bool) {
                return
            }
            if (!above_bool && above(el)) {
                above_bool = true;
            }
            if (!below_bool && below(el)) {
                below_bool = true;
            }
        });
        if (below_bool) {
          $.notify(
            "{{ _('Some meetings \\n are hidden below')|e }}",
            { position: "right",
              className: "success" });
        }
        if (above_bool) {
          $.notify(
            "{{ _('Some meetings \\n are hidden above')|e }}",
            { position: "right",
              className: "success" });
        }
    });

    function view_meeting(_url, _meetId){
        $.ajax({
            url: _url,
            type: 'GET',
            dataType: 'html',
            success: function(res) {
                var _hash = 'm' + _meetId;
                var _updated = true;
                if (window.location.hash == '#' + _hash){
                    _updated = false;
                } else {
                    window.location.hash = _hash;
                }
                var _elt = $('<div title="{{ _('Meeting details')|e }}" id="show_meeting">' + res + '</div>');
                var _height = $(window).height() * 0.8;
                _elt.dialog({
                    height: _height,
                    width: '50%',
                    modal: true,
                    cache: false,
                    close: function() {
                        $(this).html("");
                        if (_updated) {
                            window.location.hash = '_';
                        }
                    },
                });
            },
            error: function() {
                alert('{{ _('Unable to retrieve selected meeting!')|e }}');
            }
        });
    }

    $(function(){
        $('.event_blue').click(function(){
            var _cls = $(this).attr('class');
            var _meetId = _cls.split('meeting_')[1];
            var _href = $(this).attr('href');
            var _comp = _href.split('?')[1];
            var _url = "{{ url_for('view_meeting', meeting_id=0) }}".replace('/0/','/');
            _url = _url + _meetId + '/0/';
            if (_comp) {
                _url = _url + '?' + _comp;
            }
            view_meeting(_url, _meetId);
            return false;
        });
    });

    $(window.onload=function(){
        var _hash = window.location.hash;
        if (_hash && _hash != '#_') {
            var _meetId = _hash.split('m')[1];
            var _url = "{{ url_for('view_meeting', meeting_id=0) }}".replace('/0/','/');
            _url = _url + _meetId + '/0/';
            var _comp = "{{weekdays[0].strftime('%Y-%m-%d')}}";
            if (_comp) {
                _url = _url + '?' + _comp;
            }
            view_meeting(_url, _meetId);
            return false;
        };
    });
</script>
{% endblock %}
