{% extends "master.html" %}

{% block title %}{{ _('Clear calendar') }}{% endblock %}

{%block tag %}admin{% endblock %}

{% block content %}

<h4>{{ _('Calendar:') }} {{ calendarobj.calendar_name}}</h4>

<ul>
    <li>{{ _('Contact:') }} {{ calendarobj.calendar_contact }} </li>
    <li>{{ _('Description:') }} {{ calendarobj.calendar_description }} </li>
    <li>{{ _('Manager group:') }} {{ calendarobj.calendar_editor_group }} </li>
    <li>{{ _('%(count)s meetings associated', calendarobj.meetings|length ) }}</li>
</ul>


<p>w{{ _('Are you positively sure that's what you want to do?') }}</p>

<form action="" method="post">
{{ render_field_invert(form.confirm_delete) }}
<p class="buttons indent">
    <input type="submit" class="submit positive button" value="{{ _('Delete') }}">
    <input type="button" value="{{ _('Cancel') }}" class="button" onclick="history.back();">
</p>
{{ form.csrf_token }}
</form>

{% endblock %}
