{% extends "master.html" %}

{% block title %}Delete calendar{% endblock %}

{%block tag %}admin{% endblock %}

{% block content %}

<h4> Calendar: {{ calendarobj.calendar_name}}</h4>

<ul>
    <li>Contact: {{ calendarobj.calendar_contact }} </li>
    <li>Description: {{ calendarobj.calendar_description }} </li>
    <li>Manager group: {{ calendarobj.calendar_editor_group }} </li>
    <li>Multiple meetings: {{ calendarobj.calendar_multiple_meetings }} </li>
    <li>Regional meeting: {{ calendarobj.calendar_regional_meetings }} </li>
</ul>


<p>
    Are you positively sure that's what you want to do?
</p>

<form action="" method="post">
{{ render_field_invert(form.confirm_delete) }}
<p class="buttons indent">
    <input type="submit" class="submit positive button" value="Delete">
    <input type="button" value="Cancel" class="button" onclick="history.back();">
</p>
{{ form.csrf_token }}
</form>

{% endblock %}
