{% extends "master.html" %}

{% block title %}{{ _('Delete calendar') }}{% endblock %}

{%block tag %}admin{% endblock %}

{% block content %}

<h4>{{ _('Calendar:') }} {{ calendarobj.calendar_name}}</h4>

<ul>
    <li>{{ _('Contact:') }} {{ calendarobj.calendar_contact }} </li>
    <li>{{ _('Description:') }} {{ calendarobj.calendar_description }} </li>
    <li>{{ _('Manager group:') }} {{ calendarobj.calendar_editor_group }} </li>
    <li>{{ _('%(count)s meetings associated', count=calendarobj.meetings|length) }}</li>
</ul>

<p>{{ _("Are you positively sure that's what you want to do?") }}</p>

<form action="" method="post">
{{ render_field_invert(form.confirm_delete) }}
<p class="buttons indent">
    <input id="confirm_button" type="submit" class="submit positive button"
        value="{{ _('Delete') }}">
    <input type="button" value="{{ _('Cancel') }}" class="button" onclick="history.back();">
</p>
{{ form.csrf_token }}
</form>

{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
   $(document).ready(function() {
        var cb = $('#confirm_delete')
        var but = $('#confirm_button');
        if(!cb.checked) {
            but.attr('disabled', true);
            but.addClass('ui-state-disabled');
        };
   });
   $(document).ready(function() {
     $('#confirm_delete').click(function() {
        var cb = $('#confirm_button');
        if(this.checked == true) {
            cb.removeAttr('disabled');
            cb.removeClass('ui-state-disabled');
        } else {
            cb.attr('disabled', true);
            cb.addClass('ui-state-disabled');
        };
     });
 });
</script>
{% endblock %}
