{% extends "master.html" %}
{% from "_formhelpers.html" import render_field_in_row %}

{% block title %}{{ _('Edit calendar') }}{% endblock %}
{%block tag %}admin{% endblock %}

{% block content %}
<section>
    <header>
        <h2>{{ _('Edit calendar "%(name)s"', name=form.calendar_name.data) }}</h2>
        <p>{{ _('Edit the calendar details in the form below.') }}</p>
    </header>

    <form action="" method="post">
        <table>
        {{ render_field_in_row(form.calendar_name) }}
        {{ render_field_in_row(form.calendar_contact) }}
        {{ render_field_in_row(form.calendar_description) }}
        {{ render_field_in_row(form.calendar_editor_groups) }}
        {{ render_field_in_row(form.calendar_admin_groups) }}
        {{ render_field_in_row(form.calendar_status) }}
        </table>
        <p class="buttons indent">
            <input type="submit" class="submit positive button" value="{{ _('Edit') }}">
            <input type="button" value="{{ _('Cancel') }}" class="button" onclick="history.back();">
            {{ form.csrf_token }}
        </p>
    </form>
</section>
{% endblock %}
