{% extends "master.html" %}

{% block title %}{{ _('Edit meeting') }}{% endblock %}

{%block tag %}mymeeting{% endblock %}

{% block content %}
<section>

    <header>
        <h2>{{ _('Edit meeting "%(name)s"', name=form.meeting_name.data) }}</h2>
        <p>{{ _('Please enter your meeting details in the above form.') }}</p>
    </header>

    <form action="" method="post">
        <table>
            {{ render_field_in_row(form.calendar_name) }}
            {{ render_field_in_row(form.meeting_name) }}
            {{ render_field_in_row(form.meeting_date) }}
            {{ render_field_in_row(form.meeting_date_end) }}
            {{ render_field_in_row(form.meeting_time_start) }}
            {{ render_field_in_row(form.meeting_time_stop) }}
            {{ render_field_in_row(form.full_day) }}
            {{ render_field_in_row(form.meeting_timezone) }}
            {{ render_field_in_row(form.comanager) }}
            {% macro get_after_markdown() %}
                {{_('Supports the') }} <a href="http://daringfireball.net/projects/markdown/syntax"
                    rel="noopener noreferrer" target="_blank">{{ _('Markdown syntax') }}</a>
                <input type="button" class="event preview" value="{{ _('Preview')  }}">
            {% endmacro %}
            {{ render_field_in_row(
                form.information,
                    after=get_after_markdown(),
                    escape_after=True) }}
            {{ render_field_in_row(form.meeting_location) }}
        </table>

        <h4>{{ _('Recurring event') }}</h4>
        <p>{{ _('If this is a regular meeting this is where you want to set it as so.') }}</p>
        <table>
            {{ render_field_in_row(form.frequency) }}
            {{ render_field_in_row(form.end_repeats,
                after=_('Leave empty if there is no end date for the repeat.')) }}
        </table>

        <h4>{{ _('Reminder') }}</h4>
        <p>{{ _('You may want fedocal to send an email to a mailing list of your choices.') }}</p>
        <p>{{ _('Note that fedocal will send the reminder in your name.') }}</p>
        <table>
            {{ render_field_in_row(form.remind_when) }}
            {{ render_field_in_row(form.reminder_from) }}
            {{ render_field_in_row(form.remind_who) }}
        </table>

        {{ form.csrf_token }}

        <p class="buttons indent">
            <input type="submit" name="action" class="submit positive button" value="{{ _('Save') }}"/>
        {% if meeting.recursion_frequency %}
            <input type="submit" name="action" class="submit positive button" value="{{ _('Save all') }}"/>
        {% endif %}
            <input type="button" name="action" value="{{ _('Cancel') }}" class="button" onclick="history.back();"/>
        </p>

    </form>
</section>
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static',
        filename='globalize.js') }}">
</script>
<script type="text/javascript"
    src="{{ url_for('static',
        filename='jquery-ui-timespinner.js') }}">
</script>
<script type="text/javascript">
  $(function(){
      $('#meeting_date').datepicker({
          dateFormat: "yy-mm-dd",
      });
      $('#meeting_date_end').datepicker({
          dateFormat: "yy-mm-dd",
      });
      $('#end_repeats').datepicker({
          dateFormat: "yy-mm-dd",
      });
      {% if request.method == 'GET' %}
      $('#meeting_time_start').timespinner();
      $('#meeting_time_stop').timespinner();
      {% else %}
      $('#meeting_time_start').val('{{
          form.meeting_time_start.data | format_time_spinner
          }}').timespinner();
      $('#meeting_time_stop').val('{{
          form.meeting_time_stop.data | format_time_spinner
          }}').timespinner();
      {% endif %}
  });

  $(function(){
      $('.preview').click(function(){
          var _txt = $('textarea#information').val();
          var _url = "{{ url_for('markdown_preview') }}";
          $.ajax({
              url: _url ,
              type: 'POST',
              data: {content: _txt},
              dataType: 'html',
              success: function(res) {
                  var _elt = $('<div title="{{ _('Preview')|e }}">' + res + '</div>');
                  var _height = $(window).height() * 0.8;
                  _elt.dialog({
                      height: _height,
                      width: '50%',
                      modal: true
                  });
              },
              error: function() {
                  alert('{{ _('Unable to generate preview!')|e }}');
              }
          });
          return false;
      });
  });

  $(function() {
    $('#meeting_location').autocomplete({
        source: function( request, response ) {
            $.getJSON(
              "{{ url_for('api_locations_search') }}", {
                keyword: request.term
              },
              function( data ) {
                response( data.locations );
              }
            );
        },
        minLength: 3,
        delay: 500,
    });
  });

  function getHourAndMinute(value) {
      var hour = value.split(":");
      var minute = hour[1].split(" ");
      return { hour: hour[0], minute: minute[0] };
  }

  $(document).ready(function() {
    var cb = $('#full_day');
    var _timestt = $('#meeting_time_start');
    var _timestp = $('#meeting_time_stop');
    if(cb.prop('checked')) {
        _timestt.addClass('ui-state-disabled');
        _timestp.addClass('ui-state-disabled');
    };

    $('#full_day').click(function() {
      var _timestt = $('#meeting_time_start');
      var _timestp = $('#meeting_time_stop');
      if(this.checked == false) {
          _timestt.removeClass('ui-state-disabled');
          _timestp.removeClass('ui-state-disabled');
      } else {
          _timestt.addClass('ui-state-disabled');
          _timestp.addClass('ui-state-disabled');
      };
    });

    var previous;
    $('#meeting_time_start').focus(
      function () {
          // Store the current value on focus and on change
          previous = +Globalize.parseDate(this.value);
      }).timespinner({
      spin: function(event, ui) {
          var _timestt = $('#meeting_time_start');
          var _timestp = $('#meeting_time_stop');
          var _cur_stt = +Globalize.parseDate( _timestt.val());
          var _cur_stp = +Globalize.parseDate( _timestp.val());
          var _delta = _cur_stp - _cur_stt;
          previous = ui.value;

          var _d = new Date(ui.value + _delta);
          var _minutes = _d.getMinutes();
          if (_minutes < 10) {
              _minutes = '0' + _minutes;
          }
          _timestp.val(_d.getHours() + ':' + _minutes).timespinner();
      },
      change: function() {
          var _timestt = $('#meeting_time_start');
          var _timestp = $('#meeting_time_stop');
          var _cur_stt = +Globalize.parseDate( _timestt.val());
          var _cur_stp = +Globalize.parseDate( _timestp.val());
          var _delta = _cur_stp - previous;

          var _d = new Date(_cur_stt + _delta);
          var _minutes = _d.getMinutes();
          if (_minutes < 10) {
              _minutes = '0' + _minutes;
          }
          _timestp.val(_d.getHours() + ':' + _minutes).timespinner();
      }
    });

    $('#meeting_date').change(function(){
      var _datestt = $('#meeting_date').val();
      $('#meeting_date_end').val(_datestt);
    });

    var cb = $('#full_day')
    var tz = $('#meeting_timezone').parent().parent();
    if(cb.prop('checked')) {
      tz.val('UTC');
      tz.hide();
    };

    $('#full_day').click(function() {
      var tz = $('#meeting_timezone').parent().parent();
      if(this.checked == false) {
        tz.show();
      } else {
        tz.val('UTC');
        tz.hide();
      };
    });
  });
</script>
{% endblock %}

