{% extends "master.html" %}

{% block title %}{% if calendar %}{{ calendar.calendar_name
}}{% elif location %} {{location}} {% else %}Search{% endif %}{% endblock %}

{%block tag %}home{% endblock %}

{% block content %}
<section>
{% if calendar or location %}
    <header>
        <h2>
            {% if calendar %}
              <a href="{{url_for('calendar',
                  calendar_name=calendar.calendar_name)}}">
              {{ calendar.calendar_name }}
              {% else %}
              <a href="{{url_for('location',
                  loc_name=location) }}">
              {{ location }}
              {% endif %}
            </a>
        </h2>
        <p>{{ calendar.calendar_description or '-' }}</p>
    </header>
    <nav id="weeks">
        {% if calendar %}
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name, year=prev_week.year,
              month=prev_week.month, day=prev_week.day)}}" class="button"
              title="Previous week">
              &lt;
          </a>
          {{ weekdays | WeekHeading }}
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name, year=next_week.year,
              month=next_week.month, day=next_week.day)}}" class="button"
              title="Next week">
              &gt;
          </a>
          <a href="{{url_for('calendar',
              calendar_name=calendar.calendar_name)}}" class="button">
              <img src="{{url_for('static', filename='home.png')}}"
                alt="today" title="Today" />
          </a>
          {% else %}
          <a href="{{url_for('location',
              loc_name=location, year=prev_week.year,
              month=prev_week.month, day=prev_week.day)}}" class="button"
              title="Previous week">
              &lt;
          </a>
          {{ weekdays | WeekHeading }}
          <a href="{{url_for('location',
              loc_name=location, year=next_week.year,
              month=next_week.month, day=next_week.day)}}" class="button"
              title="Next week">
              &gt;
          </a>
          <a href="{{url_for('location', loc_name=location,)}}"
            class="button" title="Today">
              <img src="{{url_for('static', filename='home.png')}}"
                alt="today" />
          </a>
        {% endif %}
    </nav>
{% else %}
<header>
    <h2>
        Search
    </h2>
    <p>Result of your search for "{{ keyword }}"</p>
</header>
{% endif %}
    <aside id="mainmenu">
        {% autoescape off%}{{ curmonth_cal }}{% endautoescape %}
        {% if calendar or location %}
        <form action="{{url_for('goto')}}" id="goto_date">
          {% if calendar %}
          <input type="hidden" name="calendar" value="{{calendar.calendar_name}}"/>
          {% else %}
          <input type="hidden" name="location" value="{{location}}"/>
          {% endif %}
          <input type="hidden" name="type" value="list"/>
          <input type="text" name="day" placeholder="28" title="Day in decimal"/>
          <input type="text" name="month" placeholder="02" title="Month in decimal"/>
          <input type="text" name="year" placeholder="2014" title="Year in decimal"/>
          <input type="submit" value="Go"/>
        </form>
        <p class="smaller">
          Specify a year to see the yearly report, a month of a year to see
          the monthly report and a complete date to see that specific date.
        </p>
        <p>
          {% if calendar %}
            <a href="{{ url_for('calendar', calendar_name=calendar.calendar_name) }}">
              Calendar view
            </a>
          {% else %}
            <a href="{{ url_for('location',loc_name=location) }}">
              Calendar view
            </a>
          {% endif %}
        </p>
        {% endif %}
        <div id="accordion">
        <h4>Calendars</h4>
        <ul id="calendars_menu" class="checkmark-list">
            {% for calendar in calendars %}
            {% if calendar.calendar_status == 'Enabled' %}
            <li>
                <a href="{{url_for('calendar',
                    calendar_name=calendar.calendar_name)}}">
                    {{ calendar.calendar_name }}
                </a>
                <ul>
                    {% if g.fas_user %}
                    <li>
                        <a href="{{ url_for('add_meeting',
                            calendar_name=calendar.calendar_name) }}">Add a meeting</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('calendar_list',
                            calendar_name=calendar.calendar_name) }}">
                            List view
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('ical_out',
                                           calendar_name=calendar.calendar_name)}}"
                            title="Add this calendar to your agenda">iCal export</a>
                    </li>
                    <li>
                        <a onclick="CopyToClipboard('{{url_for('ical_out',
                                           calendar_name=calendar.calendar_name)}}')"
                            title="Copy the iCal feed URL">Copy iCal link</a>
                    </li>
                    {% if calendar.calendar_contact %}
                    <li>
                        <a href="mailto:{{calendar.calendar_contact}}">
                            Contact admin
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        {% if calendar and admin %}
        <h4> Admin </h4>
        <div>
        <ul class="checkmark-list">
            <li>
                <a href="{{ url_for('edit_calendar',
                    calendar_name=calendar.calendar_name) }}"> Edit calendar </a>
            </li>
            <li>
                <a href="{{ url_for('delete_calendar',
                    calendar_name=calendar.calendar_name) }}"> Delete calendar </a>
            </li>
        </ul>
        </div>
        {% endif %}

        </ul>
      </div>

      {% if calendar %}
      <ul class="checkmark-list">
        {% if calendar.calendar_admin_group %}
        <li>Administrators: {{ calendar.calendar_admin_group }}</li>
        {% endif %}
        {% if calendar.calendar_editor_group %}
        <li>Editors: {{ calendar.calendar_editor_group }}</li>
        {% else %}
        <li>Editors: CLA+1</li>
        {% endif %}
      </ul>
      {% endif %}

    </aside>

    </aside>

<div id='meeting_list'>
    {% if calendar %}
    <p> Time are expressed in the {{ tzone }} time zone.</p>
    {% endif %}
    <table>
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Meeting</td>
            <td>Description</td>
            <td>Location</td>
        </tr>
        {% for meeting in meetings %}
        {% if loop.first %}
        {% set month = meeting.meeting_date.month %}
        {% set past = True %}
        {% set future = True %}
        {% endif %}

        {% set class = 'meeting_normal'  %}
        {% if meeting.meeting_date >= today %}
            {% if meeting.meeting_date == today and past %}
                {% set class = 'today limit_past' %}
                {% set past = False %}
            {% elif future %}
                {% set class = 'limit_future' %}
                {% set future = False %}
            {% endif %}
        <tr class="{{class}}" id="{{class}}">
        {% elif month != meeting.meeting_date.month %}
        <tr class="change_month meeting_normal">
        {% else %}
        <tr class="meeting_normal">
        {% endif %}
            <td>
                {{ meeting.meeting_date }}
                {% if meeting.meeting_date != meeting.meeting_date_end %}
                to {{ meeting.meeting_date_end }}
                {% endif %}
            </td>
            <td>
                {{ meeting.meeting_time_start }} to
                {{ meeting.meeting_time_stop }}
            </td>
            <td>
                <a class="event event_blue meeting_{{ meeting.meeting_id }}"
                            href="{{ url_for('view_meeting',
                                meeting_id=meeting.meeting_id) }}">
                            {{ meeting.meeting_name }}
                </a>
            </td>
            <td>{% autoescape off%}
                {{ meeting.meeting_information | markdown_wrap}}
                <a class="event meeting_{{ meeting.meeting_id }}"
                   href="{{ url_for('view_meeting',
                         meeting_id=meeting.meeting_id) }}"> show more</a>
                {% endautoescape %}</td>
            <td> {% if meeting.meeting_location
                    %} {{ meeting.meeting_location }} {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</section>
{% endblock %}

{% block sidebar %}
{% if calendar %}
  <aside id="shortmenu">
    <ul>
      <li>
        <a href="{{ url_for('add_meeting',
                            calendar_name=calendar.calendar_name) }}">
          <img src="{{ url_for('static', filename='plus.png') }}" title="Add meeting" />
        </a>
      </li>
      <li>
        <a href="{{ url_for('calendar',
                            calendar_name=calendar.calendar_name) }}">
          <img src="{{ url_for('static', filename='table.png') }}" title="Calendar view" />
        </a>
      </li>
      <li>
        <a href="{{url_for('ical_out',
                           calendar_name=calendar.calendar_name)}}">
          <img src="{{ url_for('static', filename='ical.png') }}" title="Ical Export" />
        </a>
      </li>
    </ul>
  </aside>
{% endif %}
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
    function isOnScreen(elm) {
        var vpH = $(window).height(), // Viewport Height
        st = $(window).scrollTop(), // Scroll Top
        y = $(elm).offset().top;
        return (y > st && y < (vpH + st));
    };

    $(function(){
        var el = $('#today');
        if (!el.size()) {
            // #today is not in the page, trying with #limit_future
            el = $('#limit_future');
        }

        if(!el.size()){
            // No #today or #limit_future, exit
            return;
        }

        if(!isOnScreen(el)) {
            $('html, body').animate({
                scrollTop: el.offset().top - 50
            }, 1000);
        };
    });

    $(function(){
        $('.event').click(function(){
            var _cls = $(this).attr('class');
            var _meetId = _cls.split('meeting_')[1]
            var _url = "{{ url_for('view_meeting', meeting_id=0) }}".replace('/0/','/');
            $.ajax({
                url: _url + _meetId + '/0/',
                type: 'GET',
                dataType: 'html',
                success: function(res) {
                    var _elt = $('<div title="Meeting details" id="show_meeting">' + res + '</div>');
                    var _height = $(window).height() * 0.8;
                    _elt.dialog({
                        height: _height,
                        width: '50%',
                        modal: true,
                    });
                },
                error: function() {
                    alert('Unable to retrieve selected meeting!');
                }
            });

            return false;
        });
    });
</script>
{% endblock %}
