<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="jquery.countdown.css">
    <style type="text/css">
        #defaultCountdown { width: 240px; height: 45px; }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
</head>
<body>
    <script src="jquery.plugin.js"></script>
    <script src="jquery.countdown.js"></script>
    <script>
        $(function () {
        var austDay = new Date();
        austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
        $('#defaultCountdown').countdown({until: austDay});
        $('#year').text(austDay.getFullYear());
        });
    </script>
    <p>Counting down to 26 January <span id="year">2015</span>.</p>
    <div id="defaultCountdown"></div>


{% if full %}
{% extends "master.html" %}

{% block title %}Meeting {{ meeting.meeting_name}}{% endblock %}

{%block tag %}home{% endblock %}

{% endif %}

{% block content %}
<section>
    <header>
        <h2>
            <a href="{{ url_for('calendar', calendar_name=meeting.calendar_name) }}">
            {{ meeting.calendar_name }}</a>
        </h2>
        <p>{{ meeting.meeting_name}} meeting details below</p>
    </header>

    <p>
        You are kindly invited to join to the following meeting:
    </p>

    <h4> Meeting: {{ meeting.meeting_name}}</h4>

    {% if meeting.meeting_location %}
    <p>Location: {{ meeting.meeting_location }}</p>
    {%endif%}

    <p>Displayed in: {{tzone}}</p>
    <ul>
        <li>Start: {{ meeting.meeting_date }} - {{ meeting.meeting_time_start
            }} {{ tzone }} </li>
        <li>End: {{ meeting.meeting_date_end }} - {{ meeting.meeting_time_stop
            }} {{ tzone }} </li>
    </ul>

    <p>Stored in: {{org_meeting.meeting_timezone}}</p>
    <ul>
        <li>Start: {{ org_meeting.meeting_date }} - {{ org_meeting.meeting_time_start
            }} {{ org_meeting.meeting_timezone }} </li>
        <li>End: {{ org_meeting.meeting_date_end }} - {{ org_meeting.meeting_time_stop
            }} {{ org_meeting.meeting_timezone }} </li>
    </ul>

    {% autoescape off%} {{ meeting.meeting_information | markdown}} {% endautoescape %}

    {% if meeting.recursion_frequency and meeting.recursion_ends %}
    <p>
        This meeting is recurrent, it occurs every
        {{ meeting.recursion_frequency }} days until
        {{ meeting.recursion_ends }}
    </p>
    {% endif %}

    <p>
    This meeting is organized by {{ meeting.meeting_manager|join(', ') }} as part of
    the calendar <a href="{{ url_for('calendar', calendar_name=meeting.calendar_name) }}">
    {{ meeting.calendar_name }}</a>.
    </p>

    {% if editor %}
    <p>
        <a href="{{ url_for('edit_meeting',
            meeting_id=meeting.meeting_id) }}">
            <img src="{{ url_for('static', filename='edit.png') }}"
                title="Edit" alt="Edit"/>
        </a>
        <a href="{{ url_for('delete_meeting',
            meeting_id=meeting.meeting_id) }}{% if from_date %}?from_date={{ from_date }}{% endif %}">
            <img src="{{ url_for('static', filename='delete.png') }}"
            title="Delete" alt="Delete"/>
        </a>
    </p>
    {% endif %}
</section>
{% endblock %}
</body>
</html>
