{% if full %}
{% extends "master.html" %}

{% block title %}Meeting {{ meeting.meeting_name}}{% endblock %}

{%block tag %}home{% endblock %}

{% endif %}

{% block content %}
<section>
    <header>
        <h2>{{ meeting.calendar_name }}</h2>
        <p>{{ meeting.meeting_name}} meeting details below</p>
    </header>

    <p>
        You are kindly invited to join to the following meeting:
    </p>

    <h4> Meeting: {{ meeting.meeting_name}}</h4>

    <p>Displayed in: {{tzone}}</p>
    <ul>
        <li>Start: {{ meeting.meeting_date }} - {{ meeting.meeting_time_start
            }} {{ tzone }} </li>
        <li>End: {{ meeting.meeting_date_end }} - {{ meeting.meeting_time_stop
            }} {{ tzone }} </li>
    </ul>

    <p>Stored in: {{org_meeting.meeting_timezone}}</p>
    <ul>
        <li>Start: {{ org_meeting.meeting_date }} - {{ org_meeting.meeting_time_start
            }} {{ org_meeting.meeting_timezone }} </li>
        <li>End: {{ org_meeting.meeting_date_end }} - {{ org_meeting.meeting_time_stop
            }} {{ org_meeting.meeting_timezone }} </li>
    </ul>

    {% autoescape off%} {{ meeting.meeting_information | markdown}} {% endautoescape %}

    {% if meeting.recursion_frequency and meeting.recursion_ends %}
    <p>
        This meeting is recurrent, it occurs every
        {{ meeting.recursion_frequency }} days until
        {{ meeting.recursion_ends }}
    </p>
    {% endif %}

    <p>
    This meeting is organized by {{ meeting.meeting_manager|join(', ') }} as part of
    the calendar <a href="{{ url_for('calendar', calendar_name=meeting.calendar_name) }}">
    {{ meeting.calendar_name }}</a>.
    </p>

    {% if editor %}
    <p>
        <a href="{{ url_for('edit_meeting',
            meeting_id=meeting.meeting_id) }}">
            <img src="{{ url_for('static', filename='edit.png') }}"
                title="Edit" alt="Edit"/>
        </a>
        <a href="{{ url_for('delete_meeting',
            meeting_id=meeting.meeting_id) }}">
            <img src="{{ url_for('static', filename='delete.png') }}"
            title="Delete" alt="Delete"/>
        </a>
    </p>
    {% endif %}
</section>
{% endblock %}
