{% if full %}
{% extends "master.html" %}

{% block title %}{{ _('Meeting "%(name)s"', name=org_meeting.meeting_name) }}{% endblock %}

{%block tag %}home{% endblock %}

{% else %}
    {% extends "base_partial.html" %}
{% endif %}

{% block content %}
<section>
        <h2 class="orange">{{ _('Meeting "%(name)s"', name=org_meeting.meeting_name) }}</h2>
        <p class="blue">(<a href="{{ url_for('calendar', calendar_name=org_meeting.calendar_name) }}">
            {{ org_meeting.calendar_name }}</a>)
        </p>


    {% if org_meeting.meeting_location %}
    <p>{{ _('Location:') }} {{ org_meeting.meeting_location }}</p>
    {%endif%}

    <ul>
        <li title="{{ meeting_utc.meeting_date.strftime('%a, %B %d, %Y') }} - {{
            meeting_utc.meeting_time_start }} UTC">
          <span {% if tzone != 'UTC' %} class="u_dashed" {% endif %}>
              {{ _('Start:') }}
          </span>
          {{ next_meeting.meeting_date.strftime('%a, %B %d, %Y') }} - {{
            next_meeting.meeting_time_start.strftime('%H:%M') }} {{ tzone }}
        </li>
        <li title="{{ meeting_utc.meeting_date_end.strftime('%a, %B %d, %Y') }} - {{
            meeting_utc.meeting_time_stop }} UTC">
          <span {% if tzone != 'UTC' %} class="u_dashed" {% endif %}>
              {{ _('End:') }}
          </span>
          {{ next_meeting.meeting_date_end.strftime('%a, %B %d, %Y') }} - {{
              next_meeting.meeting_time_stop }} {{ tzone }} </li>
    </ul>

    <div id="countdown"></div>

    <div id="meeting_description">
    {% autoescape off%} {{ org_meeting.meeting_information | markdown  or _('No description') }} {% endautoescape %}
    </div>

    {% if org_meeting.recursion_frequency and org_meeting.recursion_ends %}
    <p>{{ _('This meeting is recurrent, it occurs every %(frequency)s days until %(ends)s',
            frequency=org_meeting.recursion_frequency, ends=org_meeting.recursion_ends) }}
    </p>
    {% endif %}

    {% macro get_managers(managers) %}
        {% for manager in managers %}<a href="mailto:{{manager}}@fedoraproject.org">{{ manager }}</a>
        {%- if not loop.last %},{% endif %}{% endfor %}.
    {% endmacro %}
    <p>{{ _('Meeting organized by %(managers)s', managers=get_managers(org_meeting.meeting_manager)) }}</p>

    <a href="{{ url_for('ical_calendar_meeting',
        meeting_id=org_meeting.meeting_id) }}"
        id="ical-meeting-export"
        title="{{ _('Add this meeting to your agenda') }}">
        {{ _('iCal export') }}
    </a>
    {% if reminder_options %}
    <span>
        <label for="ical-meeting-export-reminder-toggle">
            <input id="ical-meeting-export-reminder-toggle" type="checkbox">
            <em>{{ _('with reminder before') }}</em>
        </label>
        <select id="ical-meeting-export-reminder-at" disabled="disabled">
            {% for option in reminder_options %}
                <option value="{{ option[0] }}"{% if loop.index == 0 %} selected="selected"{% endif %}>
                    {{ option[1] }}
                </option>
            {% endfor %}
        </select>
    </span>
    {% endif %}

    {% if editor %}
    <p>{{ _('Stored as:') }}</p>
    <ul>
        <li title="{{ meeting_utc.meeting_date }} - {{
            meeting_utc.meeting_time_start }} UTC">
          <span {% if tzone != 'UTC' %} class="u_dashed" {% endif %}>
              {{ _('Start:') }}
          </span>
          {{ org_meeting.meeting_date }} - {{ org_meeting.meeting_time_start
            }} {{ org_meeting.meeting_timezone }} </li>
        <li title="{{ meeting_utc.meeting_date_end }} - {{
            meeting_utc.meeting_time_stop }} UTC">
          <span {% if tzone != 'UTC' %} class="u_dashed" {% endif %}>
              {{ _('End:') }}
          </span>
          {{ org_meeting.meeting_date_end }} - {{ org_meeting.meeting_time_stop
            }} {{ org_meeting.meeting_timezone }} </li>
    </ul>
    <p>
        <a href="{{ url_for('edit_meeting',
            meeting_id=org_meeting.meeting_id, from_date=from_date) }}">
            <img src="{{ url_for('static', filename='edit.png') }}"
                title="{{ _('Edit') }}" alt="{{ _('Edit') }}"/>
        </a>
        <a href="{{ url_for('delete_meeting',
            meeting_id=org_meeting.meeting_id) }}{% if from_date %}?from_date={{ from_date }}{% endif %}">
            <img src="{{ url_for('static', filename='delete.png') }}"
                title="{{ _('Delete') }}" alt="{{ _('Delete') }}"/>
        </a>
    </p>
    {% endif %}
</section>
{% endblock %}


{% block jscripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static', filename='jquery.countdown.min.js') }}">
</script>
<script type="text/javascript">
    FEDOCAL['NEXT_MEETING'] = {
        startDate:  Date.UTC(
            {{next_meeting.meeting_date.year}},
            {{next_meeting.meeting_date.month}} - 1,
            {{next_meeting.meeting_date.day}},
            {{next_meeting.meeting_time_start.hour }},
            {{next_meeting.meeting_time_start.minute}}, 0),
        endDate:  Date.UTC(
            {{next_meeting.meeting_date_end.year}},
            {{next_meeting.meeting_date_end.month}} - 1,
            {{next_meeting.meeting_date_end.day}},
            {{next_meeting.meeting_time_stop.hour }},
            {{next_meeting.meeting_time_stop.minute}},
            0
        )
    };
    FEDOCAL['MESSAGES'] = FEDOCAL.MESSAGES || {};
    FEDOCAL['MESSAGES']['MEETING_IN_PROGRESS'] = "{{ _(
        'Meeting in progress.')|e }}";
    FEDOCAL['MESSAGES']['MEETING_IS_OVER'] = "{{ _('Meeting is over!')|e }}";
    FEDOCAL['MESSAGES']['NEXT_MEETING_IN'] = '{{ _(
        "Meeting in: %(weeks)s weeks %(days)s days %(time)s",
        weeks='%w', days='%d', time='%H:%M:%S') }}';
</script>
<script type="text/javascript"
    src="{{ url_for('static', filename='fedocal_meeting_details.js') }}">
</script>
{% endblock %}

