body {
    padding: 0;
    background: url(html-bg.png)
    repeat-x scroll 0 0 #FFF;
    height: 100%;
    margin: 0;
    color: #2E3436;
    font-family: Cantarell,'Droid Sans','DejaVu Sans',Arial,sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h4 {
    color: #CE5C00;
    font-size: 16px;
    margin: 0.8em 0 0.4em;
}

a {
    color: blue;
    text-decoration: none;
}

header#mainheader, footer {
    color: white;
    background: #426ead; /* Old browsers */
    background: -moz-linear-gradient(top, #426ead 0%, #1e4a88 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#426ead), color-stop(100%,#1e4a88)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* IE10+ */
    background: linear-gradient(to bottom, #426ead 0%,#1e4a88 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426ead', endColorstr='#1e4a88',GradientType=0 ); /* IE6-9 */
    padding: .5em;
    margin-bottom: .5em;
}

footer a {
    color: white;
    display: inline-block;
    padding: .3em 1em;
}

footer a:hover {
    background-color: rgba(255, 255, 255, .2);
}

footer {
    padding: .2em .5em;
    text-align: center;
    margin: 0;
    left: 0;
    right:0;
    /*box-shadow: 0 5px 5px -3px black;*/
}

header h1,
header h2,
header p {
    margin:0;
}

header h1 span {
    float: right;
    color: rgba(255, 255, 255, .5);
    font-size: 0.7em;
    font-weight: normal;
}

section header,
section aside,
section nav {
    display: inline-block;
    vertical-align: middle;
}

#content section > header {
    margin-left: -200px; /* Left align with menu */
    margin-bottom: .5em;
    background: url(calendar.png) 0 50% no-repeat;
    padding-left: 40px;
    color: #666;
}

#content section > header p {
    font-style: italic;
}

#content {
    position: relative;
    margin: .5em;
    /* for the menu */
    padding-left: 210px;
}

#agenda, .my_meetings {
    margin-bottom: 2em;
}

#agenda table, .my_meetings table {
    border-collapse:collapse;
    min-width: 790px;
    width: 100%;
}

.event {
    display: block;
    height: 100%;
    padding:.1em .2em;
    background-color:rgba(175, 221, 233, .8);
    color: #333;
    text-decoration: none;
    border:1px solid #37abc8;
}

.first_event {
    border-bottom:0px;
}

.middle_event {
    border-top:0px;
    border-bottom:0px;
}

.last_event {
    border-top:0px;
}

.my_meetings td {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
    border-left: solid 1px grey;
}

#agenda td {
    min-width: 100px;
    height: 3em;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding: 0;
}

#agenda td.empty {
    background-color: transparent;
    border: none;
}

#agenda .time {
    border: none;
    padding-right: .2em;
    text-align: right;
    width: 7em;
}

#agenda .today {
    background-color: #FFF6D5;
    vertical-align: middle;
}

.my_meetings .date {
    border-left: solid 0px;
    width: 100px;
}

.my_meetings .time {
    width: 150px;
}

.my_meetings .calendar {
    width: 150px;
}

.my_meetings .buttons {
    width: 1%;
    white-space: nowrap;
    text-align: center;
    padding: .1em .2em;
}

.my_meetings img {
    width: 24px;
}

#agenda th {
    border: none;
    padding: .1em;
    color: #999;
}

#agenda th.today {
    color: black;
}

#mainmenu {
    width: 200px;
    margin-right: 0;
    position: absolute;
    top: 70px;
    left: 0;
}

#mainmenu li {
    margin-left: 0px;
}

#weeks {
    float:right;
}

/** Menu */
.ui-menu-item ul {
    margin-left: 2px;
}

.ui-menu-item {
    white-space: nowrap;
}

#home {
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: .5em .5em .5em 2.2em;
    border: 1px solid #dddddd;
    background-color: #fff;
    background-image: url("calendar-small.png"), url(fedocal/images/ui-bg_highlight-soft_100_f6f6f6_1x100.png);
    background-position: .5em 50%, 50% 50%;
    background-repeat: no-repeat, repeat-x;
    color: #3C6EB4;
    font-size: 1.1em;
    font-family: Helvetica,Arial,sans-serif;
}

#home:hover {
    border: 1px solid #3c6eb4;
    background-color: #3c6eb4;
    background-image: url("calendar-small.png"), url(fedocal/images/ui-bg_highlight-soft_25_3c6eb4_1x100.png);
    color: #fff;
}

#home a {
    color: #3C6EB4;
}

#home:hover a {
    color: #fff;
}

table.month {
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: .5em;
}

table.month td {
    text-align: center;
    border: 1px solid #e6e6e6;
    color: #808080;
    font-weight: bold;
    padding: .2em;
    background-color: #fff;
}

table.month a{
    color: #808080;
}

table.month .today a{
    color: #000;
}

table.month .current_week td {
    background-color: #ffcc69;
}

table.month td.noday {
    background-color: #f9f9f9;
}

table.month td.today{
    background-color: #FFF6D5;
    border-color: #000;
    border-width: 1px;
    /* ugly hack to work with table collapsed borders */
    border-style: double solid solid double;
    color: #000;
}

th.month {
    color: #666;
    padding-bottom: .4em;
}

th.month a {
    color: #4d4d4d;
    display: inline-block;
}

th.month a:hover {
    color: #fff;
}

th.month .ui-button-text {
    padding: 0 .5em;
}

.ui-menu a.ui-state-focus {
    border: 1px solid #DDDDDD;
}

#calendar_list {
    display: table;
    border-spacing: 1em;
}

.calendar_link {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: black;
    display: table-cell;
    /*margin: 1em auto;*/
    overflow: hidden;
    padding: 2em;
    width: 15em;
}

.calendar_row {
    display: table-row;
}

.calendar_row[a] {
    display: block;
}
