body {
    padding: 0;
    background: url(html-bg.png)
    repeat-x scroll 0 0 #FFF;
    height: 100%;
    margin: 0;
    color: #2E3436;
    font-family: Cantarell,'Droid Sans','DejaVu Sans',Arial,sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h4 {
    color: #CE5C00;
    font-size: 16px;
    margin: 0.8em 0 0.4em;
}

a {
    color: blue;
    text-decoration: none;
}

header#mainheader, footer {
    color: white;
    background: #426ead; /* Old browsers */
    background: -moz-linear-gradient(top, #426ead 0%, #1e4a88 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#426ead), color-stop(100%,#1e4a88)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #426ead 0%,#1e4a88 100%); /* IE10+ */
    background: linear-gradient(to bottom, #426ead 0%,#1e4a88 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#426ead', endColorstr='#1e4a88',GradientType=0 ); /* IE6-9 */
    padding: .5em;
    margin-bottom: .5em;
}

footer a {
    color: white;
    display: inline-block;
    padding: .3em 1em;
}

footer a:hover {
    background-color: rgba(255, 255, 255, .2);
}

footer {
    padding: .2em .5em;
    text-align: center;
    margin: 0;
    left: 0;
    right:0;
    /*box-shadow: 0 5px 5px -3px black;*/
}

header h1,
header h2,
header p {
    margin:0;
}

header h1 span {
    float: right;
    color: rgba(255, 255, 255, .5);
    font-size: 0.7em;
    font-weight: normal;
}

section header,
section aside,
section nav {
    display: inline-block;
    vertical-align: middle;
}

#content {
    position: relative;
    margin: .5em;
    /* for the menu */
    padding-left: 210px;
}

#agenda {
    margin-top: .5em;
}

#agenda, .my_meetings {
    margin-bottom: 2em;
}

#agenda table, .my_meetings table {
    border-collapse:collapse;
    min-width: 790px;
    width: 100%;
}

.event {
    display: block;
    height: 100%;
    padding:.1em .2em;
    background-color:rgba(175, 221, 233, .8);
    color: #333;
    text-decoration: none;
    border:1px solid #37abc8;
}

.my_meetings td {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
    border-left: solid 1px grey;
}

#agenda td {
    min-width: 100px;
    height: 3em;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding: 0;
}

#agenda .time {
    border: none;
    padding-right: .2em;
    text-align: right;
    width: 7em;
}

.my_meetings .date {
    border-left: solid 0px;
    width: 100px;
}

.my_meetings .time {
    width: 150px;
}

.my_meetings .calendar {
    width: 150px;
}

.my_meetings .button {
    width: 50px;
}

.my_meetings img {
    width: 24px;
}

#agenda th {
    border: none;
    padding: .1em;
    color: #999;
}

#agenda th.today {
    color: black;
}

#mainmenu {
    width: 200px;
    margin-right: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#mainmenu li {
    margin-left: 0px;
}

#weeks {
    float:right;
}
