body {
    padding: 0px;
    background: url(html-bg.png)
        repeat-x scroll 0 0px #FFFFFF;
    height: 100%;
    margin-bottom: 0px;
    color: #2E3436;
    font-family: Cantarell,'Droid Sans','DejaVu Sans',Arial,sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h4 {
    color: #CE5C00;
    font-size: 16px;
    margin: 0.8em 0 0.4em;
}

a {
    color: blue;
    text-decoration: none;
}

#agenda, .my_meetings {
    margin-bottom: 2em;
}

#agenda table, .my_meetings table {
    border-collapse:collapse;
    min-width: 800px;
}

.my_meetings td {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
    border-left: solid 1px grey;
}

#agenda td {
    min-width: 100px;
    height: 20px;
    border-bottom: solid 1px grey;
    border-left: solid 1px grey;
}

#agenda .time{
    border-left: solid 0px;
}

.my_meetings .time {
    border-left: solid 0px;
    width: 100px;
}

#agenda th {
    border-bottom: 1px dotted black;
    padding: 5px;
}

#left-sidebar {
    display: inline;
    width: 200px;
    margin-right: 0;
    float: right;
}

#left-sidebar li {
    margin-left: 0px;
}
