{% extends "master.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %} Add calendar {% endblock %}

{% set title_extent = 'add a new calendar' %}

{% block content %}
<form action="" method="post">
{{ render_field(form.calendar_name) }}
{{ render_field(form.calendar_description) }}
{{ render_field(form.calendar_manager_groups) }}
{{ render_field(form.calendar_multiple_meetings) }}
{{ render_field(form.calendar_regional_meetings) }}
<p class="buttons indent">
    <input type="submit" class="submit positive" value="Create">
    <input type="button" value="Cancel" onclick="history.back();">
</p>
{{ form.csrf_token }}
</form>
{% endblock %}
