{% extends "master.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %} Add meeting {% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
            filename='flick/jquery-ui-1.8.23.custom.css')}}" />
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-1.8.0.min.js') }}">
    </script>
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-ui-1.8.23.custom.min.js') }}">
    </script>
    <script type="text/javascript">
        $(function(){
            $('#meeting_date').datepicker({
                dateFormat: "yy-mm-dd",
            });
        });
    </script>
{% endblock %}

{% block content_titles %}
    <h1>
        Add a new meeting to <span style="font-style:italic">
        {{ calendar }}</span>
    </h1>
{% endblock %}

{% block content %}

<form action="" method="post">
{{ render_field(form.meeting_name) }}
{{ render_field(form.meeting_date) }}
{{ render_field(form.meeting_time_start) }}
{{ render_field(form.meeting_time_stop) }}
<p class="buttons indent">
    <input type="submit" class="submit positive" value="Add">
</p>
{{ form.csrf_token }}
</form>
{% endblock %}
