{% extends "master.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %} Add calendar {% endblock %}

{% block content_titles %}
    <h1>Add a new calendar</h1>
{% endblock %}

{% block content %}

<form action="" method="post">
{{ render_field(form.calendar_name) }}
{{ render_field(form.calendar_description) }}
{{ render_field(form.calendar_manager_groups) }}
{{ render_field(form.calendar_multiple_meetings) }}
<p class="buttons indent">
    <input type="submit" class="submit positive" value="Log in">
    <input type="button" value="Cancel" onclick="history.back();">
</p>
{{ form.csrf_token }}
</form>
{% endblock %}
