{% extends "master.html" %}

{% block title %} {{ calendar.calendar_name }} {% endblock %}

{% block content %}
<h1> Fedora Calendar </h1>

<h2> {{ calendar.calendar_name }} </h2>
<p>
    {{ calendar.calendar_description }}
</p>

<!-- start sidebar -->
<div id="left-sidebar">
    <h4>Calendars</h4>
    <ul class="checkmark-list">
        {% for calendar in calendars %}
        <li>
            <a href="{{url_for('calendar',
                calendar=calendar.calendar_name)}}">
                {{ calendar.calendar_name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>


<div id='agenda'>
    <table>
        <tr>
            <th></th>
            {% for day in weekdays %}
            <th> {{ day }}</th>
            {% endfor %}
        </tr>
        {% for time_entry in meetings |sort %}
        <tr>
            <td class="time">{{ time_entry }}</td>
            {% for meeting in meetings[time_entry] %}
                {% if meeting %}
                <td> {{ meeting.meeting_name }} </td>
                {% else %}
                <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
