{% extends "master.html" %}

{% block title %} {{ calendar.calendar_name }} {% endblock %}

{% block content %}
<h1> Fedora Calendar </h1>

<h2> {{ calendar.calendar_name }} </h2>
<p>
    {{ calendar.calendar_description }}
</p>

<!-- start sidebar -->
<div id="left-sidebar">
    <h4>Calendars</h4>
    <ul class="checkmark-list">
        {% for calendar in calendars %}
        <li>
            <a href="{{url_for('calendar',
                calendar=calendar.calendar_name)}}">
                {{ calendar.calendar_name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>


<div id='agenda'>
    <table>
        <tr>
            <th></th>
            {% for day in weekdays %}
            <th> {{ day }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td class="time">00:01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">01:02</td>
            <td></td>
            <td>EOL Security Updates</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">02:03</td>
            <td></td>
            <td></td>
            <td>NA Ambassadors</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">03:04</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">04:05</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>APAC Ambassadors</td>
            <td></td>
        </tr>
        <tr>
            <td class="time">05:06</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">06:07</td>
            <td></td>
            <td></td>
            <td></td>
            <td>I18N/Meetings</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">07:08</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">08:09</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">09:10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">10:11</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">11:12</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">12:13</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">13:14</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Ambassadors South America</td>
            <td>Fedora News Project</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">14:15</td>
            <td>Docs Project</td>
            <td></td>
            <td>Power management SIG</td>
            <td></td>
            <td></td>
            <td>FAmSCo</td>
            <td></td>
        </tr>
        <tr>
            <td class="time">15:16</td>
            <td></td>
            <td>SIG/KDE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">16:17</td>
            <td>Quality Assurance</td>
            <td>Messaging - Apps & Infrastructure</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Astronomy SIG [5]</td>
            <td>Mentors</td>
        </tr>
        <tr>
            <td class="time">17:18</td>
            <td>FESCo </td>
            <td>Java SIG</td>
            <td>Fedora Belux</td>
            <td>Fedora IRC SIG</td>
            <td>Cloud SIG</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">18:19</td>
            <td>FESCo</d>
            <td>Community Working Group</td>
            <td></td>
            <td>Infrastructure</td>
            <td>Fedora Kernel</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">19:20</td>
            <td></td>
            <td>l10n</td>
            <td>Board</td>
            <td>Marketing</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>20:21</td>
            <td>EPEL</td>
            <td>Insight</td>
            <td>Ambassador EMEA</td>
            <td></td>
            <td>Fedora Release Engineering</td>
            <td>FEL</td>
            <td></td>
        </tr>
        <tr>
            <td class="time">21:22</td>
            <td></td>
            <td>BugZappers</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">22:23</td>
            <td></td>
            <td>FUDCon Lawrence</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="time">23:24</td>
            <td></td>
            <td></td>
            <td>Brazilian Community</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

{% endblock %}
