{% extends "master.html" %}

{% block title %} {{ calendar.calendar_name }} {% endblock %}

{% set title_extent = calendar.calendar_name %}

{% block content %}
<section>
{% if calendar %}
    <header>
        <h2>
            <a href="{{url_for('ical_out',
                calendar_name=calendar.calendar_name)}}">
            </a>
            {{ calendar.calendar_name }}
        </h2>
        <p>{{ calendar.calendar_description }}</p>
    </header>
    <nav id="weeks">
        <a href="{{url_for('calendar',
            calendar_name=calendar.calendar_name, year=prev_week.year,
            month=prev_week.month, day=prev_week.day)}}" class="button">
            &lt
        </a>
        {{ weekdays | WeekHeading }}
        <a href="{{url_for('calendar',
            calendar_name=calendar.calendar_name, year=next_week.year,
            month=next_week.month, day=next_week.day)}}" class="button">
            &gt;
        </a>
    </nav>
{% endif %}
<div id='agenda'>
{% macro render_meetings(meeting_list, loopidx) -%}
    {% if loopidx == day_index %}
        <td class="today">
    {% else %}
        <td>
    {% endif %}
    {% if meeting_list %}
        {% for meeting in meeting_list %}
            <a class="event meeting_{{ meeting.meeting_id }}"
                href="{{ url_for('view_meeting',
                    meeting_id=meeting.meeting_id) }}">
                {{ meeting.meeting_name }}
            </a>
            {% if not loop.last %}
            -
            {% endif %}
        {% endfor %}
    {% endif %}
    </td>
{%- endmacro %}
    <table>
        <tr>
            <th>{{ tzone }} time</th>
            {% for day in weekdays %}
            <th> {{ day.strftime('%A %d') }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th class="time" rowspan="2">00h00</th>
            <td colspan="7" class="empty"></td>
        </tr>
        {% for time_entry in meetings |sort %}
            {% if time_entry == '00h00' %}
                {% set previous_time_entry = time_entry %}
            {% else %}
        <tr>
            {% if time_entry.endswith('00') %}
                <th rowspan="2" class="time">{{ time_entry }}</th>
            {% endif %}
            {% for meeting_list in meetings[previous_time_entry] %}
                {{ render_meetings(meeting_list, loop.index) }}
            {% endfor %}
            {% set previous_time_entry = time_entry %}
        </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th rowspan="2" class="time">00h00</th>
            {% if meetings %}
            {% for meeting_list in meetings['23h30'] %}
                {{ render_meetings(meeting_list, loop.index) }}
            {% endfor %}
            {% endif %}
        </tr>
        <tr>
            <td colspan="7" class="empty"></td>
        </tr>
    </table>
</div>
</section>
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){
        $('.event').click(function(){
            var _cls = $(this).attr('class');
            var _meetId = _cls.replace('event meeting_', '');
            var _url = "{{ url_for('view_meeting', meeting_id=0) }}".replace('/0/','/');
            $.ajax({
                url: _url + _meetId + '/0/',
                type: 'GET',
                dataType: 'html',
                success: function(res) {
                    var _elt = $('<div title="Meeting details" id="show_meeting">' + res + '</div>');
                    _elt.dialog({
                        height: 350,
                        width: '50%',
                        modal: true
                    });
                },
                error: function() {
                    alert('Unable to retrieve selected meeting!');
                }
            });

            return false;
        });
    });
</script>
{% endblock %}
