<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
    <link rel="stylesheet" type="text/css" media="screen"
        href="static/fedocal.css" />
    <title>{% block title %}{% endblock %} - Fedocal</title>
    {% block head %}{% endblock %}
</head>
<body id="fedoraproject-org" class="lang-en">
        <!-- header -->

    {% block content %}{% endblock %}

</body>
</html>
