{% from "_formhelpers.html" import render_field, render_field_invert,
    render_field_in_row %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - Fedocal</title>
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='fedocal.css') }}" />
    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
            filename='fedocal/jquery-ui-1.9.1.custom.css')}}" />
    {% block head %}{% endblock %}
</head>
<body>
    {% block content_titles %}
        <header id="mainheader">
            <h1>
                <img alt="Fedora Calendar{% if title_extent is defined %} - {% endif %}" src="{{ url_for('static', filename='fedora-logo.png') }}" />
                {% if title_extent is defined %}<span>{{ title_extent }}</span>{% endif %}
            </h1>
        </header>
    {% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul id="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <div id="content">
        {% block content %}{% endblock %}

        <aside id="mainmenu">
            {% autoescape off%}{{ curmonth_cal }}{% endautoescape %}
            <h4 id="home" class="ui-corner-all ui-helper-reset">
                <a href="{{url_for('index')}}">Home</a>
            </h4>
            <div id="accordion">
            <h4>Calendars</h4>
            <ul id="calendars_menu" class="checkmark-list">
                {% for calendar in calendars %}
                <li>
                    <a href="{{url_for('calendar',
                        calendar_name=calendar.calendar_name)}}">
                        {{ calendar.calendar_name }}
                    </a>
                    <ul>
                        {% if g.fas_user %}
                        <li>
                            <a href="{{ url_for('add_meeting',
                                calendar_name=calendar.calendar_name) }}">Add a meeting</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{url_for('ical_out',
                calendar_name=calendar.calendar_name)}}"
                                title="Add this calendar to your agenda">iCal export</a>
                        </li>
                        <li>
                            <a href="#">Contact admin</a>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <h4> User </h4>
            <div>
            {% if not g.fas_user %}
                <form action="{{ url_for('auth_login') }}" method="post">
                    <p>Log in using your <a href="{{ config.FAS_BASE_URL }}">
                        <abbr title="Fedora Accounts System">FAS</abbr></a> account.
                    </p>
                    {{ render_field(auth_form.username) }}
                    {{ render_field(auth_form.password) }}
                    <p class="buttons indent">
                        <input type="submit" class="submit positive button" value="Log in">
                    </p>
                    {{ auth_form.csrf_token }}
                </form>
            {% else %}
                <p> Welcome, {{ g.fas_user.username }}</p>
                <ul class="checkmark-list">
                    <li><a href="{{ url_for('my_meetings') }}"> Manage your meetings </a></li>
                    <li><a href="{{ url_for('auth_logout') }}"> Log-out </a></li>
                </ul>
            {% endif %}
            </div>
            {% if admin %}
                <h4> Admin </h4>
                <ul>
                    <li>
                    <a href="{{ url_for('add_calendar') }}"> Add a calendar </a>
                    </li>
                </ul>
            {% endif %}
            </div>
        </aside>
        <footer>
            <a href="https://fedorahosted.org/fedocal/">Fedocal</a> - <a href="#">License</a> - <a href="{{ url_for('api') }}">API</a> - <a href="#">Author</a> - <a href="https://fedorahosted.org/fedocal/report">Bugs & Improvements</a>
        </footer>
    </div>

    {% block jscripts %}
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-1.8.0.min.js') }}">
    </script>
    <script type="text/javascript"
        src="{{ url_for('static',
            filename='jquery-ui-1.9.1.custom.min.js') }}">
    </script>
    <script type="text/javascript">
        $(function(){
            $('#calendars_menu').menu();
            $('.button').button();
            $('#accordion').accordion({
                heightStyle: 'content',
                collapsible: true
            });
        });
    </script>
    {% endblock %}
</body>
</html>
