{% extends "master.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %} {{ title }} {% endblock %}

{% block content_titles %}
    <h1> My Fedora meeting </h1>

    <p>
        Here below is the list of your meetings past and future.
    </p>
{% endblock %}

{% block content %}

<h4>Future meeting</h4>
<p> This is the list of the coming meetings you have planned in
the coming 30 days.
</p>
<div class='my_meetings'>
    <table>
        {% for meeting in meetings %}
        <tr>
            <td class="date">{{ meeting.meeting_date }}</td>
            <td class="time">
                {{ meeting.meeting_time_start }} to
                {{ meeting.meeting_time_stop }}
            </td>
            <td class="calendar"> {{ meeting.calendar_name }} </td>
            <td> {{ meeting.meeting_name }} </td>
            <td class="button">
                <a href="{{ url_for('edit_meeting',
                    meeting_id=meeting.meeting_id) }}">
                    <img src="{{ url_for('static', filename='edit.png') }}"
                        title="Edit" alt="Edit"/>
                </a>
            </td>
            <td class="button">
                <a href="{{ url_for('delete_meeting',
                    meeting_id=meeting.meeting_id) }}">
                    <img src="{{ url_for('static', filename='delete.png') }}"
                    title="Delete" alt="Delete"/>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<h4>Past meetings</h4>
<div class='my_meetings'>
    <table>
        {% for meeting in pas_meetings %}
        <tr>
            <td class="date">{{ meeting.meeting_date }}</td>
            <td class="time">
                {{ meeting.meeting_time_start }} to
                {{ meeting.meeting_time_stop }}
            </td>
            <td class="calendar"> {{ meeting.calendar_name }} </td>
            <td> {{ meeting.meeting_name }} </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
